body {
  font-family: 'Outfit', sans-serif;
  background-image: url(../imagens/fundo-base.jpg);
  background-repeat: no-repeat;	
  background-size: cover;
  min-height: 100vh;
}

.cabecalho {
  text-align: center;
  padding-top: 50px;
}

.cabecalho .titulo {
  color: #f1ecff;      
  font-size: 45px;
  letter-spacing: 10px;  
}

.personagens-slider { 
  
  display: flex;
  
}